<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <!-- <link rel="stylesheet" href="../styles/carbon-style.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/card.css"> 
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <button class="toggle-btn" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
            <img src="../styles/images/MZE_logo.png" alt="Company Logo" class="logo">
            <div class="menu-item" onclick="navigateTo('../index.html')">
                <i class="fas fa-bolt"></i> <span class="menu-text">Energy Consumption</span>
            </div>
            <div class="menu-item" onclick="navigateTo('card.html')">
                <i class="fas fa-chart-line"></i> <span class="menu-text">Options</span>
            </div>
            <div class="menu-item" onclick="navigateTo('dashboard.html')">
                <i class="fas fa-file-alt"></i> <span class="menu-text">Dashboard</span>
            </div>
            <div class="menu-item" onclick="navigateTo('about.html')">
                <i class="fas fa-leaf"></i> <span class="menu-text">About</span>
            </div>
        </div>
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/home/niharika/VsCodeProjects/IBM Project(Clone)/IBM-Project---Energy-Measurement/sus1.png" height="200px" width="200px">
                    <p>Dashboard</p>
                </div>
                <div class="card-back">
                    <p>Joules consumed by an application over time</p>
                    <button><a href="../views/reports.html">Go to Dashboard</a></button>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/home/niharika/VsCodeProjects/IBM Project(Clone)/IBM-Project---Energy-Measurement/co2.png" height="200px" width="200px">
                    <p>Comparison across Zones</p>
                </div>
                <div class="card-back">
                    <p>How an application performs in different zones</p>
                    <button><a href="../views/carbonintensity.html">Go to Dashboard</a></button>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/home/niharika/VsCodeProjects/IBM Project(Clone)/IBM-Project---Energy-Measurement/graph.png" height="200px" width="200px">
                    <p>App Comparison</p>
                </div>
                <div class="card-back">
                    <p>Compare an application based on tag and runtime</p>
                    <button><a href="../views/app_comparison.html">Go to Reports</a></button>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="/home/niharika/VsCodeProjects/IBM Project(Clone)/IBM-Project---Energy-Measurement/net0.png" height="200px" width="200px">
                    <p>Timeline</p>
                </div>
                <div class="card-back">
                    <p>Analyze carbon footprint for an app over time</p>
                    <button><a href="../views/app_timeline.html">Go to Timeline</a></button>
                </div>
            </div>
        </div>
        <script>
            function toggleSidebar() {
                const sidebar = document.getElementById('sidebar');
                sidebar.classList.toggle('collapsed');
            }
            function goBack() {
                window.history.back();
            }
            </script>
        <script src="../renderer.js"></script>
    </div>
</body>
</html>
