<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <!-- <link rel="stylesheet" href="../styles/carbon-style.css"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/card.css"> 
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <button class="toggle-btn" onclick="toggleSidebar()">
                <i class="fas fa-bars"></i>
            </button>
            <div class="menu-item" onclick="navigateTo('../index.html')">
                <i class="fas fa-bolt"></i> <span class="menu-text">Energy Consumption</span>
            </div>
            <div class="menu-item" onclick="navigateTo('card.html')">
                <i class="fas fa-chart-line"></i> <span class="menu-text">Options</span>
            </div>
            <div class="menu-item" onclick="navigateTo('carbon.html')">
                <i class="fas fa-leaf"></i> <span class="menu-text">Lifetime Carbon Emission</span>
            </div>  
            <div class="menu-item" onclick="navigateTo('about.html')">
                <i class="fas fa-leaf"></i> <span class="menu-text">About</span>
            </div>
        </div>
    <div class="card-container">
        <!-- Card 1 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../styles/images/sus1.png" height="200px" width="200px">
                    <p>Energy Tracking</p>
                </div>
                <div class="card-back">
                    <p>Check out the Joules consumed by an application over a time interval</p>
                    <button><a href="../views/reports.html">Energy Tracking</a></button>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../styles/images/co2.png" height="200px" width="200px">
                    <p>Comparison across Zones</p>
                </div>
                <div class="card-back">
                    <p>Check how an application performs in different regional zones</p>
                    <button><a href="../views/carbonintensity.html">Compare Across Zones</a></button>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../styles/images/graph.png" height="200px" width="200px">
                    <p>App Comparison</p>
                </div>
                <div class="card-back">
                    <p>Find out which application is the most effective for a given usecase and runtime</p>
                    <button><a href="../views/app_comparison.html">Compare Efficiency</a></button>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="card">
            <div class="card-inner">
                <div class="card-front">
                    <img src="../styles/images/net0.png" height="200px" width="200px">
                    <p>Timeline</p>
                </div>
                <div class="card-back">
                    <p>Analyze the carbon footprint for an app over time</p>
                    <button><a href="../views/app_timeline.html">Go to Timeline</a></button>
                </div>
            </div>
        </div>
        <script>
            function toggleSidebar() {
                const sidebar = document.getElementById('sidebar');
                sidebar.classList.toggle('collapsed');
            }
            function goBack() {
                window.history.back();
            }
            </script>
        <script src="../renderer.js"></script>
    </div>
    <footer class="footer">
        &copy; 2024 Mission Zero Emission | Developed by Niharika ,Shreya ,Tanishka
    </footer>
</body>
</html>
