<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <img src="../styles/images/IBM.png" alt="Company Logo">
            <div class="menu-item" onclick="navigateTo('../index.html')">Energy Consumption</div>
            <div class="menu-item" onclick="navigateTo('dashboard.html')">Dashboard</div>
            <div class="menu-item" onclick="navigateTo('reports.html')">Reports</div>
            <div class="menu-item" onclick="navigateTo('carbon.html')">Carbon Footprint</div>
            <!-- <div class="menu-item" onclick="navigateTo('settings.html')">Settings</div> -->

        </div>

    </div>

    <script src="../renderer.js"></script>
    </body>
    </html>